out/
tmp/
dependent/libsmb2/build
dependent/libnfs/build
dependent/libwebsockets/build
dependent/mosquitto/build
dependent/curl/tmp
dependent/zlib/build
dependent/bzip2/build 
dependent/libzip/build
dependent/libarchive/tmp
dependent/libpng/build
dependent/libjpeg/build
dependent/libtiff/tmp
dependent/brotli/build
dependent/freetype/build
dependent/expat/build
dependent/harfbuzz/build
dependent/libxml2/build
dependent/podofo/build
dependent/xz/build
dependent/libiconv/build
dependent/openssl/build
dependent/libtar/build
dependent/libidn/build
dependent/fontconfig/build
dependent/libunistring/build
dependent/libunistring/lib/libunistring.sym-t1
dependent/fltk/build
dependent/cairo/tmp
*.o
*.d
*.in
